<div class="page" ng-controller="LoginSignupController" ng-cloak>
	<div class="page-title">
		<h2>Please Login</h2>
	</div>
	<form class="form-horizontal" role="form" name="login-form">
		<div class="boxbreathe">
			<div class="row form-row">
				<div class="col-xs-12 col-sm-3">
					<label for="id" class="control-label">ForeName</label>
				</div>
				<div class="col-xs-12 col-sm-9">
					<input type="text" class="form-control" name="forename"
						placeholder="ForeName" id="forename" ng-value="credentials.foreName"
						ng-model="credentials.foreName" ng-required="true" />
				</div>
			</div>
			<div class="row form-row">
				<div class="col-xs-12 col-sm-3">
					<label for="id" class="col-sm-3 control-label">Password</label>
				</div>
				<div class="col-xs-12 col-sm-9">
					<input type="text" class="form-control" name="password"
						placeholder="Password" id="password"
						ng-value="credentials.password" ng-model="credentials.password"
						ng-required="true" />
				</div>
			</div>
			<div class="row form-row">
				<div class="sign-up-invite  col-xs-12">
					Sign Up if you are a new user.
				</div>
			</div>
			<div class="row form-row">
				<div class="col-xs-12 col-sm-6">
					<button type="submit" class="btn btn-primary space-bottom" ng-click="onLogin()">Login</button>
				</div>
				<div class="col-xs-12 col-sm-6">
					<button type="submit" class="btn btn-primary" ng-click="onSignUp()">Sign
					Up</button>
				</div>
			</div>
		</div>
	</form>
</div>